<div class="col-xs-6">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <h3 class="profile-username text-center">{{user.username}}</h3>

      <p class="text-muted text-center">{{user.firstname}} {{user.lastname}}</p>
      <ul class="list-group list-group-unbordered">
        <div *ngFor="let item of user | keyvalue">
          <li class="list-group-item" *ngIf="item.key!='password' && item.key!='active' && item.key!='id'">
            <b> {{item.key | replaceUnderscore | titlecase}}</b>
            <a class="pull-right">{{item.value}}</a>
          </li>
        </div>
      </ul>

    </div>
    <!-- /.box-body -->
  </div>
</div>