<!-- <div class="box">
    <div class="box-header">
        <h3>User List</h3>
    </div>
    <div class="box-body">

         </div>
</div> -->

<div class="box">
    <div class="box-header">
        <h3 class="box-title">User List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <!-- <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div> -->
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                        aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending">
                                    Username</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Firstname</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending">LastName</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">Email</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">Mobile Number</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd" *ngFor="let user of users; index as userId">
                                <td class="sorting_1">{{user.username}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.mobile}}</td>
                                <td><a  [routerLink]="['/userlist', user.id]" >Edit</a> / 
                                    <a  [routerLink]="['/userlist/view', user.id]" >View</a> / 
                                    <a  [routerLink]="['/userlist/delete', user.id]" >Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>