<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">New User</h3>
  </div>
  <div class="box-body">
    <form method="post" [formGroup]="userForm">
      <div class="form-group">
        <label>Username:</label>
        <input class="form-control" formControlName="username" required >
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>
          Password:</label>
        <input class="form-control" type="text" formControlName="password" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

          <div *ngIf="password.errors.required">
            Password is required.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 8 characters long.
          </div>
          <div *ngIf="password.errors.pattern">
              Please enter valid password.
            </div>
        </div>
      </div>
      <div class="form-group">
        <label>
          First Name:</label>
        <input class="form-control" formControlName="first_name" required >
        <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">

          <div *ngIf="first_name.errors.required">
            First Name is required.
          </div>
          <div *ngIf="first_name.errors.minlength">
            First Name must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>
          Last Name:</label>
        <input class="form-control" type="text" formControlName="last_name">
        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">

          <div *ngIf="last_name.errors.required">
          Last  Name is required.
          </div>
          <div *ngIf="last_name.errors.minlength">
           Last Name must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>
          Email:</label>
        <input class="form-control" type="text" formControlName="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email is required.
          </div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>
          Mobile:</label>
        <input class="form-control" type="text" formControlName="mobile">
        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">

          <div *ngIf="mobile.errors.required">
            Mobile is required.
          </div>
          <div *ngIf="mobile.errors.minlength">
            Mobile must be at least 10 characters long.
          </div>
          <div *ngIf="mobile.errors.pattern">
              Characters not allowed.
            </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
  </div>
</div>  